 <style type="text/css">
      #container {
        width: 300px;
      }
      
      #pages {
        width: 92px;
        height: 18px;
        margin: 5px auto 0 auto;
      }
      
      .bullet {
        background: url(images/page-off.png) center center no-repeat;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-right: 5px;
        float: left;        
      }     
    </style>


  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui.js?body=1" type="text/javascript"></script>

<script src="/assets/jquery.ui.rcarousel.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.widget.min.js?body=1" type="text/javascript"></script>
<script src="/assets/pages.js?body=1" type="text/javascript"></script>
<script src="/assets/slides.min.jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>


<%= link_to image_tag("home/close.jpg"), "javascript:void(0)", :class => "close" %>
<div class="divider"></div>

<div id="info">
  <div id="text">
    <h1><%= work.title %></h1>
    <span class="subtext">
      <%= work.subtext %>
    </span>
    <span class="date">
      <%= work.season %>
    </span> 
      <div id="miniDiv"></div>
    <div id="content">
      <%= work.fulltext %>
    </div>
  </div>
  <div id="scope">
    <span class="tags">  
      <%= work.project_scope %>
    </span>
    <br />
    <br />
    <br />
    <span class="creator">  
      <%= work.credits %>
    </span>
  </div>    
  <br />
  <br />
  <div id="link">
    <%= link_to "view the #{work.title} lookbook", work.lookbook.url %>
  </div> 
 
  <div class="spacer"></div>
</div>

<div id="carousel">
  <% work.work_images.each do |work_image| %>
    <%= image_tag work_image.image.url %>
  <% end %>
</div>  
<div id="worksNav">
  <a href="#" id="ui-carousel-next">next</a>
  <div id="pages"></div>
  <a href="#" id="ui-carousel-prev">prev</a>
</div>

<div class="tagImage">
  <%= image_tag work.logo.url %>
</div>  
