	<div id="header">

	</div>	

	<div id="navContainer">
		<div id="anvm">
			<ul id="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">The VV &amp; C</a></li>
				<li><a href="#">Categories</a>
					<ul>
						<li><a href="#">Sevice one</a></li>
						<li><a href="#">Sevice one</a></li>
						<li><a href="#">Sevice one</a></li>
						<li><a href="#">Sevice one</a></li>
						<li><a href="#">Sevice one</a></li>

				</li>
			</ul>	

		</div>	
		<div id="craft">
			<ul id="nav">
				<li><a href="#">VV &amp; C Works</a></li>
				<li><a href="#">ANVM Store</a></li>
				<li><a href="#">Contact</a></li>
			</ul>	
		</div>	
		<div id="conversation">
			<%= image_tag "icons/facebook.png" %>
			<%= image_tag "icons/twitter.png" %>
			<%= image_tag "icons/pinterest.png" %>
			<%= image_tag "icons/rss.png" %>
		
		</div>	
	</div>

		
	<span class="spacer"></span>
		<div id="slides">
			<div id="mainSliderContainer">	
				<div class="slides_container">	
					<div class="slide">
						<%= image_tag "temp/topslide_1.jpg" %>
						<%= image_tag "temp/topslide_2.jpg" %>
					</div>	
					<div class="slide">
						<%= image_tag "temp/topslide_1.jpg" %>
						<%= image_tag "temp/topslide_2.jpg" %>
					</div>				
				</div>
					<div class="link">
						<a href="#">View Previous Collections</a>
					</div>		
			</div>

	</div>		