<div id="header">

  <div id="subscribeHeader">
    <form action="http://google.com/cse" target="_BLANK" >
      <input type="text" name="q" size="31" id="subscribeBox" placeholder="EMAIL"/>
      <input type="submit" value="SUBSCRIBE" class="subscribeSubmitButton"/>
    </form>
  </div>

  <div id="date">
    <script type="text/javascript">
    <!--
    var currentTime = new Date()
    var month = currentTime.getMonth() + 1
    var day = currentTime.getDay()    
    var date = currentTime.getDate()
    var year = currentTime.getFullYear()


    var dayName=new Array(7)
      dayName[0]="Sunday";
      dayName[1]="Monday";
      dayName[2]="Tuesday";
      dayName[3]="Wednesday";
      dayName[4]="Thursday";
      dayName[5]="Friday";
      dayName[6]="Saturday";

    if (date==1) suffix=("st");
      else if (date==2) suffix=("nd");
      else if (date==3) suffix=("rd");
      else if (date==21) suffix=("st");
      else if (date==22) suffix=("nd");
      else if (date==23) suffix=("rd");
      else if (date==31) suffix=("st");
      else suffix=("th");

    if (month==1) monthName=("January");
      else if (month==2) monthName=("February");
      else if (month==3) monthName=("March");
      else if (month==4) monthName=("April");
      else if (month==5) monthName=("May");
      else if (month==6) monthName=("June");
      else if (month==7) monthName=("July");
      else if (month==8) monthName=("August");
      else if (month==9) monthName=("September");
      else if (month==10) monthName=("October");
      else if (month==11) monthName=("November");
      else monthName=("December");  

    document.write(dayName[day] + " " + date + suffix + " " + monthName + " " + year)
    //-->
    </script>
  </div>


</div>	

<div id="navContainer">
  <div id="anvm">
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">The VV &amp; C</a></li>
      <li><a href="#" class="drop">Categories</a>
        <ul>
          <% categories.each do |category| %>
            <li>
            <%= link_to "#{category}", "filter/#{category}.js", :remote => true %>
            <span class="gold"><%= "(#{Post.count(:conditions => "category = '#{category}'")})" %></span>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>	
  </div>	
  <div id="craft">
    <ul id="nav">
      <li><a href="#titleWork">VC &amp; C Works</a></li>
      <li><a href="http://www.anvm.net">ANVM Store</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>	
  </div>	
  <div id="conversation">
<form id="cse-search-box" action="http://google.com/cse" target="_BLANK" >
  <input type="hidden" name="cx" value="009075367635003163300:qypfq6lx014" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" size="31" id="searchBox" placeholder="SEARCH"/>
  <input type="submit" name="sa" value=""  class="submitButton"/>
</form>

    <a href="https://www.facebook.com/thevanguarde" target="_BLANK"><%= image_tag "icons/facebook.png"%></a>
    <a href="https://twitter.com/thevanguarde" target="_BLANK"><%= image_tag "icons/twitter.png" %><a/>
    <a href="https://www.pinterest.com/thevanguarde" target="_BLANK"> <%= image_tag "icons/pinterest.png" %></a>
    <%= image_tag "icons/rss.png" %>
  
  </div>	
</div>

<span class="spacer"></span>

  <div id="mainSliderContainer">	
    
    <div class="slides_container">	
      
      <div id="slideDynamic">
        <div id="carousel1">
          <% if Carousel.count > 0 %>
            <% Carousel.all.each do |carousel| %>
              <%= image_tag carousel.image.url %>
              <!-- <%= image_tag "temp/topslide_2.jpg" %> <%= image_tag "temp/topslide_1.jpg" %> <%= image_tag "temp/topslide_2.jpg" %> <%= image_tag "temp/topslide_1.jpg" %> -->
            <% end %>
          <% end %>
        </div>
      </div>	

      <div id="slideStatic">
        <% if StaticCarousel.count > 0 %>
          <%= image_tag StaticCarousel.first.image.url %>
          <!-- <%= image_tag "temp/topslide_1.jpg" %> -->
        <% end %>
      </div>  

    </div>

      <div class="link">
        <a href="#">View Previous Collections</a>
      </div>  

</div>



	
