<div id="mainContainer">
	<%= render "shared/header" %>




	<div id="contactContainer">
		<div id="contactBorder">
			<%= image_tag "contact/header.png", :class => "header" %>
			FOR ALL GENERAL INQUIRIES, PLEASE CONTACT US AT:<br />
			<a href="mailto:Inquiries@thevanguarde.com">Inquiries@thevanguarde.com</a>
				<br />
				<br />
			<%= image_tag "contact/ornament.png", :class => "orn" %>
				<br />
				<br />
			FOR INTERNSHIP &amp; WORK OPPORTUNITIES, PLEASE CONTACT US AT:<br />
			<a href="mailto:Work@thevanguarde.com">Work@thevanguarde.com</a>
				<br />
				<br />
			<%= image_tag "contact/circle.png", :class => "orn" %>
				<br />
				<br />
				<span class="spacer"></span>
			<div class="left">
				<%= image_tag "contact/livelle.png", :class => "" %>
				<br />
				<a href="mailto:livelle@thevanguarde.com">
					<%= image_tag "contact/livelleEmail.png" %>
				</a>	
			</div>	
			<div class="right">
				<%= image_tag "contact/lina.png", :class => "" %>
				<br />
				<a href="mailto:lina@thevanguarde.com">
					<%= image_tag "contact/linaEmail.png" %>
				</a>
			</div>	
			<span class="spacer"></span>

	</div>	


</div>
	
	<%= render "shared/footer" %>


