<div id="mainContainer">

<%= render "shared/header" %>

  
  <object width="1100" height="3000" id="tumblr" data=" http://vanguardecraft.tumblr.com/" type="text/html">
    <p>Your Browser Sucks. Upgrade it! </p>
  </object>

<script type='text/javascript'>

function setIframeHeight( iframeId ) /** IMPORTANT: All framed documents *must* have a DOCTYPE applied **/
{
 var ifDoc, ifRef = document.getElementById( iframeId );

 try
 {   
  ifDoc = ifRef.contentWindow.document.documentElement;  
 }
 catch( e )
 { 
  try
  { 
   ifDoc = ifRef.contentDocument.documentElement;  
  }
  catch(ee)
  {   
  }  
 }
 
 if( ifDoc )
 {
  ifRef.height = 1;  
  ifRef.height = ifDoc.scrollHeight;
  
  /* For width resize, enable below.  */
  
  // ifRef.width = 1;
  // ifRef.width = ifDoc.scrollWidth; 
 }
}

</script>

<iframe id = "myIframe"  src="http://vanguardecraft.tumblr.com/"  onload = "setIframeHeight( this.id )">


  <div id="titleWork">
    VANGUARDE WORKS
  </div>
  <div id="subTitle">
    Select Edits
  </div>

  <div id="worksContainer">
    <% @works.each do |work| %>
      <%= link_to "/works/#{work.id}.js", :remote => true do %>
        <div id="worksPhoto">
          <%= image_tag work.featured_image.url %>
          <div id="worksPhototitle">
            <%= work.title %>
          </div>
          <div id="worksPhotoSubtitle">
            <%= work.subtext %>
          </div>
          <div id="worksSeason">
            <%= work.season %>
          </div>    
        </div><!-- worksPhoto -->
      <% end %>
    <% end %>
  </div><!-- worksContainer -->

  <div id="worksExpand">
  </div><!-- worksExpanded -->

<!--  <div id="titleNews">
    In The News
    <div id="rightsubTitle">
      Archives
    </div>  
  </div>
    <div id="subTitle" class="news">
    Current
  </div>
-->
  <div class="spacer"></div>


  <div id="newsContainer">
    <%= render 'posts' %>
  </div><!-- /newsContainer -->

  <div class="spacer"></div>


<%= render "shared/footer" %>

</div>


