<div id="mainContainer">

<%= render "shared/header" %>

  
  <iframe width="1100" height="1900" id="tumblr" src="http://vanguardecraft.tumblr.com/" type="text/html">
    <p>Your Browser Sucks. Upgrade it! </p>
  </iframe>



  <div id="titleWork">
    VANGUARDE WORKS
  </div>
  <div id="subTitle">
    Select Edits
  </div>

  <div id="worksContainer">
    <% @works.each do |work| %>
      <%= link_to "/works/#{work.id}.js", :remote => true do %>
        <div id="worksPhoto">
          <%= image_tag work.featured_image.url %>
          <div id="worksPhototitle">
            <%= work.title %>
          </div>
          <div id="worksPhotoSubtitle">
            <%= work.subtext %>
          </div>
          <div id="worksSeason">
            <%= work.season %>
          </div>    
        </div><!-- worksPhoto -->
      <% end %>
    <% end %>
  </div><!-- worksContainer -->

  <div id="worksExpand">
  </div><!-- worksExpanded -->

<!--  <div id="titleNews">
    In The News
    <div id="rightsubTitle">
      Archives
    </div>  
  </div>
    <div id="subTitle" class="news">
    Current
  </div>
-->
  <div class="spacer"></div>


  <div id="newsContainer">
    <%= render 'posts' %>
  </div><!-- /newsContainer -->

  <div class="spacer"></div>


<%= render "shared/footer" %>

</div>


