<div id="mainContainer">

<%= render "shared/header" %>

	
	<object width="1100" height="600" id="tumblr" data="http://vangaurde.tumblr.com/" type="text/html">
		<p>Your Browser Sucks. Upgrade it! </p>
	</object>

	<div id="titleWork">
		VANGUARDE WORKS
	</div>
	<div id="subTitle">
		Select Edits
	</div>

	<div id="worksContainer">
    <% @works.each do |work| %>
      <div id="worksPhoto">
        <%= image_tag work.featured_image.url %>
        <div id="worksPhototitle">
          <%= link_to work.title, "/works/#{work.id}.js", :remote => true %>
        </div>
        <div id="worksPhotoSubtitle">
          <%= work.subtext %>
        </div>
        <div id="worksSeason">
          <%= work.season %>
        </div>		
      </div><!-- worksPhoto -->
    <% end %>
	</div><!-- worksContainer -->

<div id="worksExpand">
</div><!-- worksExpanded -->

	<div id="titleNews">
		In The News
	</div>
	
	<div class="spacer"></div>


	<div id="newsContainer">
    <% @posts.each do |post| %>

      <div id="newsItem">
        <div class="title">
          <p>
            <%= post.title %>
            <br />
            <span class="date">
              <%= post.created_at.getlocal.strftime("%b %e, %Y") %>
            </span>
          </p>	
        </div>
        <%= image_tag post.image %>	
        <br />
        <div class="caption">			
          <%= post.snippet %>
        </div>		
      </div>

    <% end %>
  </div><!-- /newsContainer -->

	<div class="spacer"></div>

	<div id="twitterContainer">
		<div id="tweetContainer">
			The Vanguarde have released the digital version of their Compendium. <a href="http://t.co/qH13Fegadf">http://t.co/qH13Fegadf</a>
		</div>

		<div id="tweetContainer">
			The Vanguarde have released the digital version of their Compendium. <a href="http://t.co/qH13Fegadf">http://t.co/qH13Fegadf</a>
		</div>

		<div id="tweetContainer">
			The Vanguarde have released the digital version of their Compendium. <a href="http://t.co/qH13Fegadf">http://t.co/qH13Fegadf</a>
		</div>
	</div>	

<%= render "shared/footer" %>

</div>

<script type="text/javascript">
    $(function(){
      // Set starting slide to 1
      var startSlide = 1;
      // Get slide number if it exists
      if (window.location.hash) {
        startSlide = window.location.hash.replace('#','');
      }
      // Initialize Slides
      $('#slides').slides({
        preload: true,
        preloadImage: 'images/slider/loading.gif',
        generatePagination: false,
        play: 5000,
        pause: 100,
        hoverPause: true,
      });

      $('#slides2').slides({
        preload: true,
        preloadImage: 'images/slider/loading.gif',
        generatePagination: true,
        play: 5000,
        pause: 100,
        hoverPause: true,
      });

    });
</script>

