<div id="mainContainer">
<%= render "shared/header" %>
	<div id="newsSingle">
    <%= image_tag "news/header.jpg", :class => "header"  %>
    <div class="divider"></div>

    <div id="heading">
      <span class="title">anvm debut collection</span>
      <br />
      <span class="date"> - March 29, 2012</span>
    </div>

    <div id="video">
      <iframe src="http://player.vimeo.com/video/45642553" width="975" height="731" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>  

    <div id="featured">
      <%= image_tag "temp/newsFeatured.jpg" %>
    </div>
    <div id="text">  
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget arcu leo. Vestibulum id elit at tellus suscipit condimentum. Fusce euismod sapien et diam lacinia a fermentum risus bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla non eleifend nulla. Sed nec lacus et leo consectetur convallis. Curabitur et urna sed nibh posuere viverra ac venenatis est. Mauris ut mauris sed eros volutpat dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean quis enim tortor. Curabitur in posuere dui. Vestibulum vitae porta nulla. In nulla magna, eleifend ac euismod quis, pharetra eget nunc. Morbi ante urna, condimentum at adipiscing ut, consectetur nec lectus.
    </div>
    <div class="spacer"></div>

    <div id="main">
      <%= image_tag "temp/newsMain.jpg" %>
    </div>  





  </div>




<%= render "shared/footer" %>

</div>



