<%= semantic_form_for [:admin, @post], :html => {:multipart => true} do |f| %>
  <%= f.inputs "New Post" do %>
    <%= f.input :title %>
    <%= f.input :image, :as => :file %>
    <%= f.hidden_field :image_cache %>
    <%= f.label :snippet, :class => "label", :style => "float: left; width: 20%; display: block; padding-left: 10px;" %>
    <div>
      <%= f.input :snippet, :label => false, :input_html => { :rows => 2, :class => "wysiwyg" } %>
    </div>
    <%= f.label :body, :class => "label", :style => "float: left; width: 20%; display: block; padding-left: 10px;"  %>
    <div>
      <%= f.input :body, :label => false, :input_html => { :class => "wysiwyg" } %>
    </div>
    <%= f.input :published %>
  <% end %>
  <%= f.buttons %>
<% end %>
