<div id="mainContainer">

  
<%= render "shared/header" %>

	<div id="newsSingle">
    <%= image_tag "news/header.jpg", :class => "header"  %>
    <div class="divider"></div>

    <div id="heading">
      <span class="title"><%= @post.title %></span>
      <br />
      <span class="date">&#8211; <%= @post.created_at.getlocal.strftime("%b %e, %Y") %></span>
    </div>

    <div id="video">
      <iframe src="http://player.vimeo.com/video/<%= /vimeo\.com\/(........)/.match(@post.video)[1] %>?byline=0&amp;portrait=0&amp;color=ffffff" width="975" height="731" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>  

    <div id="featured">
      <%= image_tag @post.image.url %>
    </div>

    <div id="text">  
      <%= @post.body %>
    </div>
    <div class="spacer"></div>

    <div id="main">
      <% @post.news_images.each do |image| %>
        <%= image_tag image.image.url %>
      <% end %>
    </div>  
  </div><!-- /newsSingle -->

<%= render "shared/footer" %>

</div>



