<!DOCTYPE html>
<html>
<head>
  <title>Vangaurde</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
    $(function(){
      // Set starting slide to 1
      var startSlide = 1;
      // Get slide number if it exists
      if (window.location.hash) {
        startSlide = window.location.hash.replace('#','');
      }
      // Initialize Slides
      $('#slides').slides({
        preload: true,
        preloadImage: 'images/slider/loading.gif',
        generatePagination: false,
        play: 5000,
        pause: 100,
        hoverPause: true,
      });

      $('#slides2').slides({
        preload: true,
        preloadImage: 'images/slider/loading.gif',
        generatePagination: true,
        play: 5000,
        pause: 100,
        hoverPause: true,

      
      });

    });
  </script>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
